.windows {
    width: 900px;
    height: 100vh;
    margin: 50px auto 0 auto;
}

.info {
    position: fixed;
    height: 100vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 16px;
}

.info-name {
    color: #267CB9;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.info-avata {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    cursor: pointer;
}

.info-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.info-link-resume,
.info-link-github,
.info-link-linkedin {
    margin: 4px;
    color: #267CB9;
    font-weight: 500;
}

.info-link-resume:hover,
.info-link-github:hover,
.info-link-linkedin:hover {
    margin: 4px;
    color: #069;
    font-weight: bold;
}

.separation {
    color: rgba(0, 0, 0, 0.5);
}

.info-title {
    font-size: 18   px;
    margin-top: 20px;
    color: #333;
    text-align: center;
}

.info-gender {
    text-align: center;
    margin-top: 24px;
}

.info-email {
    margin-top: 24px;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.info-phone {
    margin-top: 24px;
    text-align: center;
}

.profile {
    float: right;
    width: 500px;
}

.profile-expertise {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

.profile-wed {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-top: 16px;
}

.logo-github {
    margin-top: 16px;
}

.profile-detail {
    margin-top: 16px;
}
